<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - University</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet"/>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">University</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area=""
               asp-controller="Home" asp-action="Index">
                Home
            </a>

            @if (User.IsInRole("Student"))
            {
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area=""
                   asp-controller="Grades" asp-action="Index">
                    My grades
                </a>
            }

            @if (User.IsInRole("Student"))
            {
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area=""
                   asp-controller="UpcomingClasses" asp-action="Index">
                    My upcoming classes
                </a>
            }

            @if (User.IsInRole("AdministrativeEmployee"))
            {
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area=""
                   asp-controller="Registration" asp-action="Index">
                    Pending user registrations
                </a>
                
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area=""
                   asp-controller="Profile" asp-action="Index">
                    User profiles management
                </a>
                
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area=""
                   asp-controller="Departments" asp-action="Index">
                    Departments management
                </a>
                
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area=""
                   asp-controller="Classroom" asp-action="Index">
                    Classrooms management
                </a>
            }

        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span
                        class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <partial name="_LoginPartial"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <p>
                @RenderBody()
            </p>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/scripts.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>