@model IEnumerable<StudentGradesViewModel>

@{
    ViewData["Title"] = "Grades";
}

<h2>Student Grades</h2>
<table class="table">
    <thead>
    <tr>
        <th>Semester</th>
        <th>Course</th>
        <th>Grade</th>
        <th>Date Awarded</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Semester</td>
            <td>@item.CourseName</td>
            <td>@item.GradeValue</td>
            <td>@item.GradeDate.ToShortDateString()</td>
        </tr>
    }
    </tbody>
</table>