@model ProfessorProfileViewModel

<form asp-action="RegisterProfessor" method="post">
    <input asp-for="UserId" type="hidden"/>
    <div class="form-group">
        <label asp-for="TitleId">Title</label>
        <select asp-for="TitleId" asp-items="Model.TitleOptions" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="DepartmentId">Department</label>
        <select asp-for="DepartmentId" asp-items="Model.DepartmentOptions" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="StatusId">Department</label>
        <select asp-for="StatusId" asp-items="Model.StatusOptions" class="form-control"></select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>