@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@if (TempData["LogoutMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["LogoutMessage"]
    </div>
}

<form asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form>
